#type hal_memtrack_default, domain;
#type hal_memtrack_default_exec, exec_type, vendor_file_type, file_type;
#allow hal_memtrack_default hal_memtrack_default:binder { call };
